# Framework Arduino sobre ESP-IDF
CONFIG_ARDUINO_ENABLE=y

# WiFi
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y
CONFIG_ESP32_WIFI_ENABLED=y

# Tamaño de stack suficiente para WebServer
CONFIG_ARDUINO_LOOP_STACK_SIZE=8192

# Puerto serie
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200

# Chip
CONFIG_IDF_TARGET="esp32s3"